.NodeInstallation {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 20px auto;
  color: #333;
}

.NodeInstallation h1 {
  font-size: 2.5rem;
  color: #000;
}

.NodeInstallation h2 {
  font-size: 2rem;
  color: #000;
}

.NodeInstallation h3 {
  font-size: 1.5rem;
  color: #000;
}

.NodeInstallation h4 {
  font-size: 1.25rem;
  color: #000;
}

.NodeInstallation h5 {
  font-size: 1.1rem;
  color: #000;
}

.NodeInstallation p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.NodeInstallation ul,
.NodeInstallation ol {
  margin: 15px 0;
  padding-left: 20px;
}

.NodeInstallation pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

.NodeInstallation code {
  font-family: 'Courier New', Courier, monospace;
  color: #d6336c;
}

@media (max-width: 768px) {
  .NodeInstallation {
    width: 50%;
  }
}

@media (max-width: 580px) {
  .NodeInstallation {
    width: 30%;
  }
  @media (max-width: 380px) {
    .NodeInstallation {
      width: 30%;
    }
}
}
