.AbstractionInJavaScript {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 20px auto;
  /* width: 90%; */
  color: #333;
}

.AbstractionInJavaScript h1 {
  font-size: 2.5rem;
  color: #000;
}

.AbstractionInJavaScript h2 {
  font-size: 2rem;
  color: #000;
}

.AbstractionInJavaScript h3 {
  font-size: 1.5rem;
  color: #000;
}

.AbstractionInJavaScript h4 {
  font-size: 1.25rem;
  color: #000;
}

.AbstractionInJavaScript p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.AbstractionInJavaScript ul,
.AbstractionInJavaScript ol {
  margin: 15px 0;
  padding-left: 20px;
}

.AbstractionInJavaScript pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

.AbstractionInJavaScript code {
  font-family: 'Courier New', Courier, monospace;
  color: #d6336c;
}

@media (max-width: 768px) {
  .AbstractionInJavaScript {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .AbstractionInJavaScript {
    width: 30%;
  }
}
