@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.DataDrivenFramework h1 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.DataDrivenFramework p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  width: 90%;
  color: #333;
  margin-bottom: 20px;
}

.DataDrivenFramework h2 {
  font-size: 1.75rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 15px;
}

.DataDrivenFramework h3 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 10px;
}

.DataDrivenFramework pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.DataDrivenFramework code {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #d6336c;
  white-space: pre-wrap;
}

.DataDrivenFramework ul, .DataDrivenFramework ol {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #333;
  padding-left: 20px;
  margin-bottom: 20px;
}

.DataDrivenFramework li {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  color: #333;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .DataDrivenFramework {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .DataDrivenFramework {
    width: 80%;
  }
}
