/* Importing the font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Styling for the InheritanceDocument component */
.InheritanceDocument h1 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.InheritanceDocument p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  width: 90%;
  color: #333;
  margin-bottom: 20px;
}

.InheritanceDocument h2 {
  font-size: 1.75rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 15px;
}

.InheritanceDocument h3 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 10px;
}

.InheritanceDocument ul {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #333;
  padding-left: 20px;
  margin-bottom: 20px;
}

.InheritanceDocument li {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  color: #333;
  margin-bottom: 10px;
  display: list-item;
list-style: auto;

}

.InheritanceDocument pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.InheritanceDocument code {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #d6336c;
  white-space: pre-wrap;
}
@media (max-width: 768px) {
  .InheritanceDocument{
    width: 75%;
  }
}

@media (max-width: 480px) {
  .InheritanceDocument{
    width: 60%;
  }
}
