@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.Java h1 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
}
.Java p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 2;
  width: 90%;
}
.Java h4 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #000;
}
.Java ul {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 2;
  text-align: left;
}
.Java li {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 2;
  text-align: left;
  display: list-item;
list-style: auto;

}
@media (max-width: 768px) {
  .Java{
    width: 95%;
  }
}

@media (max-width: 480px) {
  .Java{
    width: 95%;
  }
}
